#login-dialog md-dialog-content {
    max-height: 170px;
}

#login-dialog {
    max-width: 90%;
    width: 500px;
}

#login-dialog > form > md-toolbar > div {
    background-color: #5e7ed2;
}

#login-dialog > form > md-dialog-actions > button:disabled {
    background-color: #e6e6e6;
}

#login-dialog > form > md-dialog-actions > button:not([disabled]) {
    background-color: #5e7ed2;
}