.myfooter {
    bottom: 2px;
    height: 0%;
    max-height: 0%;
    width: 100%;
    margin-top: 30px;
    padding: 7px 0;
    position: absolute;
    display: table;
    background-color: #F5F6F7;
}
body{
	margin: 0;
	padding:0;
}
#content{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left: 0;
	  padding-top: 85px;

}
#map{
	 width: 100%;
    height: 82%;
    position: absolute;
    overflow: hidden;
}
#header{
	top:0;
	left:0;
	right:0;
    height: 75px;
    position: absolute;

}

.menu-demo-container{
    background-color: #ecf0f1;
;

}

.menudemoBasicUsage .md-menu-demo {
	background-color: #ecf0f1;
    padding: 24px;
}

.menudemoBasicUsage .menu-demo-container {
	background-color: #ecf0f1;
    min-height: 200px;
}

#register-button {
    color: #5b6ec0;
    font-size: 11px;
    font-weight: 500;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/

    float: right;
    padding-top: 3%;

    margin-right: 15px;
    bottom: 2px;
}

#register-button:hover {
    color: #424784;
}
