.myfooter {
    bottom: 2px;
    height: 9%;
    max-height: 9%;
    width: 100%;
    margin-top: 30px;
    padding: 7px 0;
    position: absolute;
    display: table;
    background-color: #F5F6F7;
}

.menudemoBasicUsage .md-menu-demo {
    padding: 24px;
}

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px;
}

#register-button {
    color: #5b6ec0;
    font-size: 11px;
    font-weight: 500;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/

    float: right;
    padding-top: 3%;

    margin-right: 15px;
    bottom: 2px;
}

#register-button:hover {
    color: #424784;
}
