.popup {
	height: 100%;
	width: 100%;
}

md-tabs {
	width: 100%;
	height: 100%;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #18355b !important;
    background-color: #18355b !important;
}

md-tab-body {
	height: 100%;
	width: 100%;
}

md-dialog-content {
	height: 80vh;
}

md-icon{
	color: rgba(88, 98, 113, 0.8);
}

md-tabs .md-tab.md-active md-icon{
	color: #18355b;
}

.content-tab1 {
	margin: 3%;
	color: #192332;
	width: 60%;
	height: 80%;
	float: left;
	display: inline;
}


.content-tab1 > p {
	font-family: 'Roboto';
	text-align: justify;
	line-break: strict;
	display: block;
	margin: 0 0;
}

.content-tab1 #info-detalhada > p {
	text-align: justify;
	line-break: strict;
	display: block;
	margin: 0 15px;
}

.content-tab1 .ed-bloco {
	margin: 0 0;
	font-size: 22px;
	color: #18355b;
	font-weight: 700;
}

.content-tab1 .ed-name {
	font-size: 12px;
}

.content-tab1 .ed-atividade {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 15px;
}

.content-tab1 .ed-descricao {
	margin-bottom: 12px;
	color: rgba(88, 98, 113, 0.8);

}

.content-tab1 button {
	margin: 12px 0;
	font-size: 14px;
}

.content-tab1 .md-raised {
	background-color: #fefefe;
	color: #18355b;
}

.content-tab1 .md-raised:hover {
	background-color: #f1f1f1;
	color: #3e3e3e;
}

.content-tab1 .selected-button {
	background-color: #d3d6d1;
	color: #5E7ED2;
}

.content-tab2 {
	font-family: :'Roboto';
	margin: 3%;
	color: #18355b;
	height: 80%;
}

.image {
	width: 40%;
	float: right;
	display: inline;
}

.topic {
	font-family: 'Roboto'
	font-weight: bold;
	margin: 0px;
	display: inline;
}

#register-ed-dialog {
	height: 100%;
    width: 120vh;
    margin: 3%;
	color: #192332;
}

.blue {
	background-color: #192332 !important;
}

md-divider {
	margin-top: 3vh !important;
	margin-bottom: 3vh !important; 
}

h2 {
	color: #192332;
	font-weight: 500;
}

#foto {
	max-width:48%;
	max-height:50%;
	float: right;
}

#tab1 {
	overflow:auto;
  	display: flex;
}

#img {
	margin-top: 5vh;
	margin-right: 4vh;
	width: 60%;
	float: right;
}

#info {
	width: 40%;
	float: left;
}

#fotofront {
	height: 60vh;
	max-width: 90vh;
}