.popup {
	height: 100%;
	width: 100%;
}

md-tabs {
	width: 100%;
	height: 100%;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #5E7ED2 !important;
    background-color: #5E7ED2 !important;
}

md-tab-body {
	height: 100%;
	width: 100%;
}

md-dialog-content {
	height: 1000px;
}

.content-tab1 {
	margin: 3%;
	color: #5E7ED2;
	width: 60%;
	height: 100%;
	float: left;
	display: inline;
}

.content-tab1 > p {
	text-align: justify;
	line-break: strict;
	display: block;
	margin: 0 0;
}

.content-tab1 #info-detalhada > p {
	text-align: justify;
	line-break: strict;
	display: block;
	margin: 0 15px;
}

.content-tab1 .ed-bloco {
	margin: 0 0;
	font-size: 24px;
	font-weight: 700;
}

.content-tab1 .ed-name {
	font-size: 12px;
}

.content-tab1 .ed-atividade {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 15px;
}

.content-tab1 .ed-descricao {
	margin-bottom: 12px;
}

.content-tab1 > button {
	margin: 12px 0;
	background-color: #f9f9f9;
	color: #0f0f0f;
	font-size: 14px;

}

.image {
	width: 40%;
	float: right;
	display: inline;
}

.topic {
	font-weight: bold;
	margin: 0px;
	display: inline;
}

