.popup {
	height: 100%;
	width: 100%;
}

md-tabs {
	width: 100%;
	height: 100%;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #5E7ED2 !important;
    background-color: #5E7ED2 !important;
}

md-tab-body {
	height: 100%;
	width: 100%;
}

md-dialog-content {
	height: 1000px;
}

.content-tab1 {
	margin: 3%;
	color: #5E7ED2;
	width: 60%;
	height: 100%;
	float: left;
	display: inline;
}

.image {
	width: 40%;
	float: right;
	display: inline;
}

.topic {
	font-weight: bold;
	margin: 0px;
	display: inline;
}
