.toolbar {
    background-color: #3498db;
    top:0;
    left:0;
    right:0;

}

.toolbar p {
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    color: #ecf0f1;
    margin: 12px 0;
    position: relative;
    width: auto;
}

.toolbar h2{
    color: #ecf0f1;
}
.myrow div {
    display:table-cell;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
}

.session {
    margin-right: 50px;
    vertical-align: middle;
}

/* Rules for styling session icon. */
.material-icons.md-session {
    font-size: 24px;
    color: rgb(249, 249, 249);
    margin: 0 20px;
    vertical-align: middle;
}

.material-icons.md-session:hover {
    color: rgb(254, 254, 254);
}

#name {
    font-weight: bold;
    margin-top: 0px;
    color: #ecf0f1;
}

#eye {
    color: white !important;
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}