#content {
	height: 100%;
	width: 100%;
}

#row {
	display: grid;
}

#menu {
	width: 15%;
	float: left;
}

#menu ul {
	margin-top: 25%;
	margin-right: 10%;
}

#menu ul li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#option {
	color: #18355b;
	font-size: medium;
}

#option:hover {
	color: #18355b;
}

#panel {
	margin-top: 5vh;
	width: 85%; 
	float: right;
	border-left: solid #e0e0e0 1px;
    padding-left: 10vh;
}

#divs {
	overflow:auto;
	width: 95%;
  	display: inline-block;
 }

.menu-container {
	height: 4vh;
	width: 100%;
	background-color: #ecf0f1;
}

#panel-list {
	margin-top: 3vh;
}

md-list-item {
	padding-left: 3vh;
}