#register-ed-dialog {
    height: 90vh;
    width: 120vh;
}

#register-ed-dialog > form > md-toolbar > div {
    background-color: #5e7ed2;
}

#register-ed-dialog > form > md-dialog-actions > button:disabled {
    background-color: #e6e6e6;
}

#register-ed-dialog > form > md-dialog-actions > button:not([disabled]) {
    background-color: #5e7ed2;
}