.toolbar {
    background-color: #18355b;
    top:0;
    left:0;
    right:0;
    position: relative;
}

.toolbar p {
    /*text-align: center;*/
    font-size: 12px;
    font-weight: 800;
    color: rgb(240, 244, 244);
    margin: 2px 0;
    position: relative;
    /*width: auto;*/
}


.toolbar h2{
    color: #ecf0f1;
}
.myrow div {
    display:table-cell;
}

.title {
    width: 100%;
    text-align: left;
    color: white;
    padding-left: 30px;
}

.session {
    margin-right: 50px;
    vertical-align: middle;
}


/* Rules for styling session icon. */
.material-icons.md-session {
    font-size: 24px;
    color: rgb(240, 244, 244);
    margin: 0 20px;
    vertical-align: middle;
}

.material-icons.md-session:hover {
    color: rgb(254, 254, 254);
}

#name {
    font-weight: bold;
    margin-top: 0px;
    color: rgb(240, 244, 244);
    font-family: 'Lato';
    font-size: 42px;
    margin-top: 18px;
}

#eye {
    color: white !important;
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}