<div id="content">
    <div id="header">
    <toolbar></toolbar>
</div>
<div class="md-menu-demo" ng-controller="HomeController as ctrl" ng-cloak>
    
</div>

<div ng-controller="MapController as ctrl">
    <div class="menu-demo-container" layout-align="center end" layout="column">
        <md-menu>
            <md-button class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                <md-icon>sort</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">
                        <md-icon>check_box</md-icon>
                        Todos os prédios
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.checkVoicemail()">
                        <md-icon>check_box_outline_blank</md-icon>
                        Prédios normalizados
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                        <md-icon>check_box_outline_blank</md-icon>
                        Prédios em alerta
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.showOnlySetor('A');">
                        <md-icon>check_box_outline_blank</md-icon>
                        Setor A
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.showOnlySetor('B');">
                        <md-icon>check_box_outline_blank</md-icon>
                        Setor B
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.showOnlySetor('C');">
                        <md-icon>check_box_outline_blank</md-icon>
                        Setor C
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

       <div id="map"></div>
</div>

<myfooter></myfooter>
</div>
