<div id="content">
    <toolbar></toolbar>

    <div ng-controller="MapController as ctrl">
  
        <!-- Menu Toolbar-->
        <div class="menu-demo-container" layout="row" layout-align="end center">
            <div>
                <md-icon class="md-ufcg-info-button" ng-click='ctrl.openGeneralInfoDialog($event)'>
                    home
                </md-icon>
            </div>
            <div>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <md-icon class="md-filtro-ed">sort</md-icon>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ctrl.redial($event)">
                                <md-icon ng-if="ctrl.menuSelectedIten == 'T'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != 'T'">check_box_outline_blank</md-icon>
                                Todos os prédios
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button disabled="disabled">
                                Filtrar por consumo
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="ctrl.showEdificiosAlerta('0')">
                                <md-icon ng-if="ctrl.menuSelectedIten == '0'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != '0'">check_box_outline_blank</md-icon>
                                Um pouco acima da média
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.showEdificiosAlerta('1')">
                                <md-icon ng-if="ctrl.menuSelectedIten == '1'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != '1'">check_box_outline_blank</md-icon>
                                Muito acima da média
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                                Filtrar por setor
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="ctrl.showOnlySetor('A');">
                                <md-icon ng-if="ctrl.menuSelectedIten == 'A'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != 'A'">check_box_outline_blank</md-icon>
                                Setor A
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.showOnlySetor('B');">
                                <md-icon ng-if="ctrl.menuSelectedIten == 'B'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != 'B'">check_box_outline_blank</md-icon>
                                Setor B
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.showOnlySetor('C');">
                                <md-icon ng-if="ctrl.menuSelectedIten == 'C'">check_box</md-icon>
                                <md-icon ng-if="ctrl.menuSelectedIten != 'C'">check_box_outline_blank</md-icon>
                                Setor C
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div id="map"></div>
    </div>

</div>