<div>
    <h4 class="topic">Características</h4>
    <p class="topic">Localização: </p> Setor {{edificio.caracteristicasFisicas.localizacao.setor}}, Bloco {{edificio.caracteristicasFisicas.localizacao.bloco}}<br>
    <p class="topic">Area: </p> {{edificio.caracteristicasFisicas.area}} m²<br>
    <p class="topic">Nº de pavimentos: </p> {{edificio.caracteristicasFisicas.n_pavimentos}}<br>
    <p class="topic">Ocupação média: </p> {{edificio.caracteristicasFisicas.ocupacaoMedia}}<br>
    <p class="topic">Nº de bacias sanitárias: </p> {{edificio.caracteristicasFisicas.n_baciasSanitarias}}<br>
    <p class="topic">Nº de torneiras: </p> {{edificio.caracteristicasFisicas.n_torneiras}}<br>
    <p class="topic">Nº de duchas: </p> {{edificio.caracteristicasFisicas.n_duchas}}<br>
    <p class="topic">Nº de chuveiros: </p> {{edificio.caracteristicasFisicas.n_chuveiros}}<br>
    <p class="topic">Nº de pias: </p> {{edificio.caracteristicasFisicas.n_pias}}<br>
    <p class="topic">Volume do reservatório: </p> {{edificio.caracteristicasFisicas.volumeReservatorio}} m³
</div>