<div ng-controller="ManageEdificioController as ctrl">
    <md-dialog  id="add-vazamento-dialog"  aria-label="Alertas" ng-cloak>
            <md-dialog-content>
                            <div class="md-dialog-content">

    <h2 >Alertas</h2>

    <div ng-repeat="alerta in ctrl.edificio.alertas">
        <form name="form" ng-submit="ctrl.updateAlerta(alerta._id)">
            <div ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>
            <md-dialog-actions layout="row">
            <p>{{ctrl.getData(alerta.data)}}</p>
            
              <div ng-if="!alerta.checked">
                <md-button class=" md-accent" type="submit" ng-disabled="registerForm.$invalid" md-autofocus>
                                      <md-icon md-svg-icon="lib/icons/check.svg"></md-icon> Verificar!
                </md-button>
                  </div>

                    <div ng-if="alerta.checked">
                <md-button class="md-accent" ng-disabled="registerForm.$invalid" md-autofocus>
                                      <md-icon md-svg-icon="lib/icons/checked.svg" ></md-icon> Verificado!
                </md-button>
                  </div>

            </md-dialog-actions>
        </form>
        </div>
                </div>

        </md-dialog-content>

    </md-dialog>
</div>