        <md-dialog aria-label="Test">
            <div layout-padding layout="column">
                <md-input-container>
                    <label>Placeholder 1</label>
                    <input ng-model="vm.placeholder1">
                </md-input-container>
                <md-input-container>
                    <label>Placeholder 2</label>
                    <input ng-model="vm.placeholder2">
                </md-input-container>
                <md-button ng-click="vm.save()" class="md-primary">Save</md-button>
            </div>
        </md-dialog>