<div ng-controller="PanelController as ctrl" ng-cloak="" ng-app="app">

    <md-dialog id="session-dialog" aria-label="Logout" ng-cloak>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>Log Out</h2>
                    <md-divider></md-divider>
                    <p>{{ctrl.user_email}}, deseja sair?</p>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="ctrl.close()" class="md-raised">Cancelar</md-button>
                <md-button type="submit" ng-click="ctrl.logout()" class="md-raised md-primary blue" md-autofocus>Sair</md-button>
            </md-dialog-actions>
    </md-dialog>    
</div>