<div>

    <md-dialog id="register-ed-dialog" aria-label="RegisterEdificio" ng-cloak>

        <form name="form" ng-submit="ctrl.operation()">

            <md-dialog-content>
                <div class="md-dialog-content">
                  <h2>{{ctrl.message()}}</h2>
                  <md-divider></md-divider>
                  <p>Informações gerais:</p>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome</label>
                        <input name="nome" ng-model="ctrl.edificio.nome" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Atividade</label>
                        <input name="atividade" ng-model="ctrl.edificio.atividade" md-autofocus required />
                    </md-input-container>
                  </div>
                  <md-input-container class="md-block">
                      <label>Descrição</label>
                      <textarea name="descricao" ng-model="ctrl.edificio.descricao" md-autofocus required />
                  </md-input-container>
                  <p>Características físicas:</p>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Setor</label>
                        <input name="setor" ng-model="ctrl.edificio.caracteristicasFisicas.localizacao.setor" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Bloco</label>
                        <input name="bloco" ng-model="ctrl.edificio.caracteristicasFisicas.localizacao.bloco" md-autofocus required />
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Área</label>
                        <input name="area" ng-model="ctrl.edificio.caracteristicasFisicas.area" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Latitude</label>
                        <input name="latitude" ng-model="ctrl.edificio.geolocalizacao.latitude" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Longitude</label>
                        <input name="longitude" ng-model="ctrl.edificio.geolocalizacao.longitude" md-autofocus required />
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ocupação média</label>
                        <input name="ocupacaoMedia" ng-model="ctrl.edificio.caracteristicasFisicas.ocupacaoMedia" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Volume do reservatório</label>
                        <input name="volumeReservatorio" ng-model="ctrl.edificio.caracteristicasFisicas.volumeReservatorio" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Média esperada</label>
                        <input name="mediaEsperada" ng-model="ctrl.edificio.mediaEsperada" md-autofocus required />
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de pavimentos</label>
                        <input name="n_pavimentos" ng-model="ctrl.edificio.caracteristicasFisicas.n_pavimentos" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de torneiras</label>
                        <input name="n_torneiras" ng-model="ctrl.edificio.caracteristicasFisicas.n_torneiras" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de dúchas</label>
                        <input name="n_duchas" ng-model="ctrl.edificio.caracteristicasFisicas.n_duchas" md-autofocus required />
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de bacias sanitárias</label>
                        <input name="n_baciasSanitarias" ng-model="ctrl.edificio.caracteristicasFisicas.n_baciasSanitarias" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de chuveiros</label>
                        <input name="n_chuveiros" ng-model="ctrl.edificio.caracteristicasFisicas.n_chuveiros" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Número de pias</label>
                        <input name="n_pias" ng-model="ctrl.edificio.caracteristicasFisicas.n_pias" md-autofocus required />
                    </md-input-container>
                  </div>
                  <md-input-container>
                    <p>Botão para fazer upload da imagem TODO</p>
                    <input ng-model="image" type="image" />
                  </md-input-container>
                </div>
            </md-dialog-content>

            <div ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>

            <md-dialog-actions layout="row">
                <md-button ng-click="ctrl.close()" class="md-raised">Cancelar</md-button>
                <md-button type="submit" ng-disabled="registerForm.$invalid" class="md-raised md-primary blue" md-autofocus>Concluído</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>