<md-dialog class="popup">
  <form>
    <md-dialog-content>
      <md-tabs md-border-bottom>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/drop.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content-tab1">
              <h3 class="topic">{{edificio.nome}}</h3>
              <br>
              <p>{{edificio.atividade}}</p>
              <p>{{edificio.descricao}}</p>
              <h4 class="topic">Características</h4>
              <br>
              <p class="topic">Localização: </p> Setor {{edificio.caracteristicasFisicas.localizacao.setor}}, Bloco {{edificio.caracteristicasFisicas.localizacao.bloco}}<br>
              <p class="topic">Area: </p> {{edificio.caracteristicasFisicas.area}} m²<br>
              <p class="topic">Nº de pavimentos: </p> {{edificio.caracteristicasFisicas.n_pavimentos}}<br>
              <p class="topic">Ocupação média: </p> {{edificio.caracteristicasFisicas.ocupacaoMedia}}<br>
              <p class="topic">Nº de bacias sanitárias: </p> {{edificio.caracteristicasFisicas.n_baciasSanitarias}}<br>
              <p class="topic">Nº de torneiras: </p> {{edificio.caracteristicasFisicas.n_torneiras}}<br>
              <p class="topic">Nº de duchas: </p> {{edificio.caracteristicasFisicas.n_duchas}}<br>
              <p class="topic">Nº de chuveiros: </p> {{edificio.caracteristicasFisicas.n_chuveiros}}<br>
              <p class="topic">Nº de pias: </p> {{edificio.caracteristicasFisicas.n_pias}}<br>
              <p class="topic">Volume do reservatório: </p> {{edificio.caracteristicasFisicas.volumeReservatorio}} m³
            </div>
            <img src="lib/icons/default.jpg" alt="" />
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/graph.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content">
              <h1 class="md-display-2">Tab Two</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/clock.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>

