<md-dialog class="popup">
  <form>
    <md-dialog-content>
      <md-tabs md-border-bottom>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/drop.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content">
              <h1 class="md-display-2">Tab One</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/graph.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content">
              <h1 class="md-display-2">Tab Two</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
             <md-icon md-svg-icon="lib/icons/clock.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="content">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>

