<div class="navbar">

    <div class="myrow">


        <div class="title">
            <h5>Nome do aplicativo</h5>
       		<h3>Monitoramento de consumo de água na UFCG</h3>
        </div>

        <div class="session">
            <md-icon class="md-session" ng-controller="logoutController" ng-click='logout()'>
                account_circle
            </md-icon>
        </div>

        <button type="button" ng-controller="ModalController" ng-click="showTabDialog()"> TabDialog</button>

    </div>

</div>
