<div id="content">
  <div id="header">
  <toolbar></toolbar>

  <div class="menu-container" layout-align="center end" layout="column">
  </div>
  <div id="divs">
      <div id="menu">
          <ul>
              <li><a id="option" href ng-click="ctrl.loadEdificios($event)">Prédios</a></li>
              <li><a id="option" href ng-click="ctrl.loadUsers($event)">Usuários</a></li>
              <li><a id="option" href ng-click="ctrl.loadVazamentos($event)">Vazamentos</a></li>
              <li><a id="option" href ng-click="ctrl.loadContasDeAgua($event)">Contas de Água</a></li>
              <li><a id="option" href ng-click="ctrl.logoutDialog($event)">Sair</a></li>
          </ul> 
      </div>
      <div id="panel">
        <div ng-if="ctrl.showEdificio">
          <h2>Gerenciar edifícios</h2>
          <md-divider></md-divider>
          <md-button class="md-icon-button md-accent pull-right" ng-click="ctrl.newEdificio($event)">
            <md-icon md-svg-icon="../lib/icons/add.svg"></md-icon>
          </md-button>
          <br>
          <md-list id="panel-list">
            <md-subheader class="md-no-sticky">Edifícios cadastrados</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="d in ctrl.data">
              <p> {{d.nome}}</p>
              <md-button class="md-icon-button md-accent" ng-click="ctrl.editEdificio($event,d)">
                <md-icon md-svg-icon="../lib/icons/edit.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button md-accent" ng-click="ctrl.deleteEdificio($event,d)">
                <md-icon md-svg-icon="../lib/icons/erase.svg"></md-icon>
              </md-button>
            </md-list-item>
          </md-list>          
        </div>

        <div ng-if='ctrl.showUser'>
          <div ng-include="'views/panel-signup.html'"></div>
        </div>
        <div ng-if='ctrl.showVazamento'>
          <div ng-include="'views/panel-vazamento.html'"></div>
        </div>
        <div ng-if='ctrl.showContas'>
          <div ng-include="'views/panel-contas.html'"></div>
      </div>
  </div>
</div>