<h2>Gerenciar contas de água</h2>
<md-divider></md-divider>
<br>

<md-list id="panel-list">
  <md-subheader class="md-no-sticky">Contas registradas</md-subheader>
  <md-list-item class="secondary-button-padding" ng-repeat="c in ctrl.data">
    <p> Mês: {{c.mes}} | Valor: R${{c.valor}} | Data de Pagamento: {{c.dataDePagaento}}</p>
    <md-button class="md-icon-button md-accent" ng-click="ctrl.editConta($event, c)">
      <md-icon md-svg-icon="../lib/icons/edit.svg"></md-icon>
    </md-button>
  </md-list-item>
</md-list>        