<div id="content">
  <div id="header">
  <toolbar></toolbar>

  <div class="menu-container" layout-align="center end" layout="column">
  </div>
  <div id="divs">
      <div id="menu">
          <ul>
              <li><a id="option" href ng-click="ctrl.loadEdificios($event)">Prédios</a></li>
              <li><a id="option" href ng-click="ctrl.loadUsers($event)">Usuários</a></li>
              <li><a id="option" href ng-click="ctrl.loadContasDeAgua($event)">Contas de Água</a></li>
              <li><a id="option" href ng-click="ctrl.logoutDialog($event)">Sair</a></li>
          </ul> 
      </div>
      <div id="panel">
        <div ng-if="ctrl.showEdificio">
          <div ng-include="'views/panel-edificios.html'"></div>        
        </div>
        <div ng-if='ctrl.showUser'>
          <div ng-include="'views/panel-users.html'"></div>
        </div>
        <div ng-if='ctrl.showVazamento'>
          <div ng-include="'views/panel-vazamento.html'"></div>
        </div>
        <div ng-if='ctrl.showContas'>
          <div ng-include="'views/panel-contas.html'"></div>
      </div>
  </div>
</div>