<div id="content">
  <div id="header">
  <toolbar></toolbar>

  <div class="menu-container" layout-align="center end" layout="column">
  </div>
  <div id="divs">
      <div id="menu">
          <ul>
              <li><a href ng-click="ctrl.loadEdificios($event)">Prédios</a></li>
              <li><a href ng-click="ctrl.loadUsers($event)">Usuários</a></li>
              <li><a href ng-click="ctrl.logout($event)">Sair</a></li>
          </ul> 
      </div>
      <div id="panel">
        <div ng-if="ctrl.showEdificio">
          <md-list ng-cloack>
            <md-subheader class="md-no-sticky">Edifícios cadastrados</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="d in ctrl.data">
              <p> {{d.nome}}</p>
              <md-button class="md-secondary" ng-click="ctrl.editEdificio($event)">Editar</md-button>
            </md-list-item>
          </md-list>

        </div>

        <div ng-if='ctrl.showUser'>
          <p>Load User</p>
        </div>
      </div>
  </div>
</div>