<md-button class="md-icon-button md-accent pull-right" ng-click="ctrl.newUserDialog($event)">
  <md-icon md-svg-icon="../lib/icons/plus.svg"></md-icon>
</md-button>
<br>

<md-list id="panel-list">
  <md-subheader class="md-no-sticky">Suas informações</md-subheader>
  <md-list-item class="secondary-button-padding">
    <p> Email: {{ctrl.user_email}}</p>
  </md-list-item>
  <md-list-item class="secondary-button-padding">
    <md-button ng-style="{color: '#E91E63', 'font-size':'10px', height:'16px'}"
    ng-click="ctrl.showEditPass = !ctrl.showEditPass">Atualizar senha</md-button>
  </md-list-item>
  <md-subheader class="md-no-sticky">Usuários cadastrados</md-subheader>
  <md-list-item class="secondary-button-padding" ng-repeat="d in ctrl.data">
              <p> {{d.username}}</p>
              <md-button class="md-secondary" ng-click="ctrl.deleteUser($event,d)">Remover</md-button>
            </md-list-item>
</md-list>

<div ng-if="ctrl.showEditPass">
  <form name="updateForm" ng-submit="ctrl.updatePassword()">

    <md-content  layout-gt-xs="row" layout-padding>
      <md-input-container>
        <label>Senha</label>
        <input type="password" name="password" ng-model="ctrl.password" required />
      </md-input-container>
      <md-input-container>
        <label>Confirme senha</label>
        <input type="password" name="password" ng-model="ctrl.confirm_pass" required />
      </md-input-container>
      <md-dialog-actions layout-align="end end">
        <md-button type="submit" class="md-raised md-accent"
        ng-disabled="updateForm.$invalid" md-autofocus>Atualizar</md-button>
      </md-dialog-actions>
    </md-content>

    <div ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>
  </form>
</div>
<div ng-show="ctrl.success" class="alert alert-success">{{ctrl.successMessage}}</div>