<div ng-controller="RegisterDialogController as ctrl" ng-cloak="" ng-app="app">

    <md-dialog id="session-dialog" aria-label="Register" ng-cloak>

        <form name="registerForm" ng-submit="ctrl.register()">

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Register</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.close()">
                        <md-icon aria-label="Close dialog">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input name="username" ng-model="ctrl.username" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Senha</label>
                        <input type="password" name="password" ng-model="ctrl.password" required />
                    </md-input-container>
                </div>
            </md-dialog-content>

            <div ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>

            <md-dialog-actions layout="row">
                <md-button type="submit" ng-disabled="registerForm.$invalid" class="md-raised md-primary" md-autofocus>Register!</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    
</div>