<div ng-cloak="" ng-app="app">

    <md-dialog id="session-dialog" aria-label="Register" ng-cloak>

        <form name="registerForm" ng-submit="ctrl.register()">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>Registrar</h2>
                    <md-divider></md-divider>
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input name="username" ng-model="ctrl.username" md-autofocus required />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Senha</label>
                        <input type="password" name="password" ng-model="ctrl.password" required />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirme senha</label>
                        <input type="password" name="password" ng-model="ctrl.confirm_pass" required />
                    </md-input-container>
                </div>
            </md-dialog-content>

            <div ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>

            <md-dialog-actions layout="row">
                <md-button ng-click="ctrl.close()" class="md-raised">Cancelar</md-button>
                <md-button type="submit" ng-disabled="registerForm.$invalid" class="md-raised md-primary blue" md-autofocus>Registrar</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    
</div>