<div class="toolbar">
    <div class="myrow">
        <div class="title" ng-controller="HomeController as ctrl">
            <h5></h5>
       		<h2 id="name" ng-click='ctrl.goToHome()'>SIGA</h2>
            <p ng-click='ctrl.goToHome()'>Sistema de Gerenciamento de Água</p>
        </div>

        <div class="session" ng-controller="SessionController as ctrl">
            <md-icon class="md-session" ng-click='ctrl.changeSessionState($event)'>
                account_circle
            </md-icon>
        </div>

    </div>
</div>
