<div class="toolbar">

    <div class="myrow">

        <div class="title"><p>Monitoramento de consumo de água na UFCG</p></div>

        <div class="session" ng-controller="SessionController">
            <md-icon class="md-session" ng-click='logoutD($event)'>
                account_circle
            </md-icon>

        </div>

    </div>

</div>




<!--
<div ng-app="app" ng-controller="AppController as login" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak>
    <script type="text/ng-template" id="login-dialog.template.html">
        <md-dialog id="login-dialog" aria-label="Login" ng-cloak>
            <form name="loginForm" ng-submit="dialog.login()">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Log In</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="dialog.close()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>Username</label>
                            <input name="username" ng-model="dialog.username" md-autofocus required />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="dialog.password" required />
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <a href="" class="md-primary">Forgot Password?</a>
                    <span flex></span>
                    <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Login</md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>-->
